:root {
	--font-family: 'Noto Sans', sans-serif;
	--black: #3b434e;
	--gray-light: #ebebeb;
	--gray: #a4a4a4;
	--grey-dark: #51648c;
	--white: #fff;
	--primary: #7351f5;
	--primary-hover: #6344df;
	--red: #fc836d;
	--red-light: #fea291;
	--green: #007b48;
	--green-light: #c8f8e4;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background-color: #f5f6f8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}
