.hh {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 30px;
}

.count {
	padding: 20px;
	text-align: center;
}

.salary {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 20px;
	text-align: center;
	gap: 20px 0;
}

.salary > div + div {
	border-left: 1px solid var(--gray-light);
}

.title {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.35;
	margin-bottom: 10px;
}

.countValue {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.36;
	color: var(--primary);
}

.slaryValue {
	font-weight: bold;
	font-size: 26px;
	line-height: 1.35;
	margin-bottom: 10px;
}

.rating {
	display: grid;
	grid-template-columns: repeat(3, 20px);
	gap: 10px;
	justify-content: center;
}

.filled circle {
	fill: var(--red);
}

@media screen and (max-width: 1200px) {
	.hh {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 640px) {
	.salary {
		grid-template-columns: 1fr;
	}
	.salary > div + div {
		border-top: 1px solid var(--gray-light);
		border-left: none;
		padding-bottom: 20px;
	}
}
