.menu {
	fill: currentcolor;
}

.firstLevel {
	display: grid;
	align-items: center;

	margin-top: 20px;

	font-weight: 500;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLeveList {
	padding: 0;

	list-style: none;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: inherit;
}

.secondLevel {
	margin-bottom: 10px;
	padding: 0;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--grey-dark);
	border: none;
	background-color: none;

	font-weight: 300;
	font-style: 12px;
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding: 0;
	padding-left: 32px;

	list-style: none;

	border-left: 1px solid #dfdfdf;
}

.secondLevelBlock {
	overflow: hidden;

	padding: 0;

	list-style: none;
}

.thirdLevel {
	display: block;

	margin-bottom: 10px;

	cursor: pointer;

	color: var(--grey-dark);
	outline-offset: -1px;

	font-size: 14px;
	font-weight: 500;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
